div.logs  table.logs {
    background-color:#ffffff;
    border-collapse:collapse;
    border-spacing:1;
   /*border:1px solid #CCCCCC;*/
   /* height: 500px;*/
    margin-left: 32px;
    padding:0;
    width:66%;
    margin-top: 20px;
    margin-bottom: 30px;
}


div.logs table.logs th{
    background:none repeat scroll 0 0 #E9E9E9;
    /*border-bottom:2px solid #FFFFFF; */
    color:#000000;
    font-size:13px;
    font-weight:bold;
    margin-bottom:10px;
    padding:5px;
    text-align:left;
    border:1px solid #CCCCCC;
    width:66%;
}

table.logs td {
   /* border:1px solid #CCCCCC;*/
    padding:4px 3px;
    vertical-align:top;

}


div.logs  table.sublogs {
    background-color:#ffffff;
    border-collapse:collapse;
    border-spacing:1;
    border:1px solid #CCCCCC;
    /* height: 500px;*/
    padding:0;
    width:100%;
}


div.logs table.sublogs td {
    border:1px solid #CCCCCC;
    padding:4px 3px;
    vertical-align:top;
    font-size:11px;
    width:66%;
}